<h1>@Model.Name</h1>
<h4>@Model.TagLine</h4>
<hr />
<img src="@Model.Img">
<br>

@if (Model.Games.Count > 0)
{
  foreach (Game game in Model.Games)
  {
    <p>@Html.ActionLink($"Game ID #{game.GameId}", "Details", "Games", new { id = game.GameId})</p> //actionlink to visit game
  }
}

<div class="two-buttons">
  @Html.ActionLink("ADD GAME", "Create", "Games", new {id = Model.ProfileId},new {@class="btn btn-primary"})
  @Html.ActionLink("EDIT PROFILE", "Edit", "Profiles", new { id = Model.ProfileId }, new { @class="btn btn-info"})
</div>