@model TreasureSweepGame.Models.Game

<h1>Details Game</h1>

<p>@Model.GameId</p>
<p>Player 1: @ViewBag.PlayerOne</p>
<p>Player 2: @ViewBag.PlayerTwo</p>

@if(Model.TurnCount % 2 == 1 && Model.IsComplete == false)
{
  <p>Player Two's Turn!</p>
  @Html.ActionLink("Play Turn", "Turn", "Games", new {id = Model.GameId}, new { @class="btn"})
}
else if (Model.IsComplete == false)
{
  <p>Player One's Turn!</p>
  @Html.ActionLink("Play Turn", "Turn", "Games", new {id = Model.GameId}, new { @class="btn"})
}
else
{
  <h4>@ViewBag.WinningName won!</h4>
  @Html.ActionLink("See Results", "Turn", "Games", new {id = Model.GameId}, new { @class="btn"})
}
<br>
Show stats for each board. 
