@{
  int[,] playersBoard = ViewBag.PlayersBoard;
  int[,] targetBoard = ViewBag.TargetBoard;
}

@* @if (ViewBag.IsComplete == false)
{ *@
  <div class="row">
    <div class="col-md-7">
      <h1>OPPONENT BOARD:</h1>
      <div id="opponentBoard">
        @for (int x = 0; x <= 4; x++)
        {
          @for (int y = 0; y <= 4; y++)
          {
            if(@targetBoard[x,y] == 0)
            {
              if (ViewBag.IsYourTurn && ViewBag.IsComplete == false)
              {
                @using (Html.BeginForm("Play", "Games", FormMethod.Post))
                {
                  <input type="hidden" name="playerId" id="playerId" value="@ViewBag.PlayerId">
                  <input type="hidden" name="gameId" id="gameId" value="@ViewBag.GameId">
                  <input type="hidden" name="x" id="x" value="@x">
                  <input type="hidden" name="y" id="y" value="@y">
                  <button type="submit" class="sand"></button>
                }
              }
              else
              {
                <img src="/img/sand.png" alt="sand">
              }
            }
            else if (@targetBoard[x,y] == 3)
            {
              <img src="/img/miss.png" alt="miss">
            }
            else if(@targetBoard[x,y] == 4)
            {
              <img src="/img/chest-ope.png" alt="uncovered treasure">
            }
            else if(@targetBoard[x,y] == 5)
            {
              <img src="/img/sand-bomb.png" alt="burried bomb">
            }
          }   
        }
      </div>
    </div>
    <div class="col-md-5">
      <h1> YOUR BOARD: </h1>
      <div id="currentPlayerBoard">
        @for (int x = 0; x <= 4 ; x++)
        {
          @for (int y = 0; y <= 4 ; y++)
          {
            if(@playersBoard[x,y] == 0)
            {
              <img src="/img/sand.png" alt="sand">
            }
            else if(@playersBoard[x,y] == 1)
            {
              <img src="/img/chest-closed.png" alt="hidden treasure">
            }
            else if(@playersBoard[x,y] == 2)
            {
              <img src="/img/sand-bomb.png" alt="burried bomb">
            }
            else if (@playersBoard[x,y] == 3)
            {
              <img src="/img/miss.png" alt="miss">
            }
            else if(@playersBoard[x,y] == 4)
            {
              <img src="/img/chest-open.png" alt="uncovered treasure">
            }
          }   
        }
      </div>
    </div>
  </div>
  <div class="row">
    @if (ViewBag.IsYourTurn)
    {
      <h1>@ViewBag.PlayerName - IT'S YOUR TURN</h1>
    }
    else if (@ViewBag.IsComplete == false)
    {
      <h1>WAITING FOR YOUR OPPONENT...</h1>
    }
  </div>
@* }
else if (ViewBag.IsComplete)
{
  <div class="row">
    <div class="col-md-7">
      <h1>OPPONENT BOARD:</h1>
      <div id="opponentBoard">
        @for (int x = 0; x <= 4; x++)
        {
          @for (int y = 0; y <= 4; y++)
          {
            if(@targetBoard[x,y] == 0)
            {
              <img src="/img/sand.png" alt="sand">
            }
            else if (@targetBoard[x,y] == 3)
            {
              <img src="/img/miss.png" alt="miss">
            }
            else if(@targetBoard[x,y] == 4)
            {
              <img src="/img/chest-ope.png" alt="uncovered treasure">
            }
            else if(@targetBoard[x,y] == 5)
            {
              <img src="/img/sand-bomb.png" alt="burried bomb">
            }
          }   
        }
      </div>
    </div>
    <div class="col-md-5">
      <h1> YOUR BOARD: </h1>
      <div id="currentPlayerBoard">
        @for (int x = 0; x <= 4 ; x++)
        {
          @for (int y = 0; y <= 4 ; y++)
          {
            if(@playersBoard[x,y] == 0)
            {
              <img src="/img/sand.png" alt="sand">
            }
            else if(@playersBoard[x,y] == 1)
            {
              <img src="/img/chest-closed.png" alt="hidden treasure">
            }
            else if(@playersBoard[x,y] == 2)
            {
              <img src="/img/sand-bomb.png" alt="burried bomb">
            }
            else if (@playersBoard[x,y] == 3)
            {
              <img src="/img/miss.png" alt="miss">
            }
            else if(@playersBoard[x,y] == 4)
            {
              <img src="/img/chest-open.png" alt="uncovered treasure">
            }
          }   
        }
      </div>
    </div>
  </div> *@
@if (ViewBag.IsComplete) 
{
  <div class="row">
    <h1>PLAYER @ViewBag.WinningPlayer WON!</h1>
  </div>
}